body{
    width: 100%;
    height: fit-content;
    margin: 0;
    background-color:   #080d10;
    
}
.header{
    background-color:   #080D10;
    position: fixed;
    width: 100%;
    height: 12%;
    border-bottom: 1px solid rgb(181, 177, 177)
}
.img_logo{
width: 5%;
position: absolute;
right: 1%;
border-radius: 10%;
}
.black-img_logo{
    top: 10%;
    width: 5%;
position: absolute;
right: 1%;
border-radius: 10%;
display: none;
}
.text_logo{
    color: #fcc403;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 3%;
    top: 0%;
    user-select: none;
}
.menu{
position: absolute;
left: 20%;
top: 35%;
font-size: 20px;
width: 50%;

}
.menu a{
    color: #fcc403;
    text-decoration: none;
    margin-left:10% ;
    padding-bottom: 26px;
}
.menu a:hover{
border-bottom: 3px solid #fcc403;
}
.menu a:focus{
    border-bottom: 3px solid #fcc403;
    }
    #darkmode{
        position: absolute;
        left: 75%;
        top: 30%;
        width: 25px;
        height: 25px;
        user-select: none;
        cursor: pointer;
        appearance: none;
    }
    .fa-sun{
        position: absolute;
        left: 75%;
        top: 30%;
        color: #fcc403;  
font-size: 25px;
    }
    .fa-moon{
        position: absolute;
        left: 75%;
        top: 30%;
        color: #580202;  
font-size: 25px;
display: none;
    }
    .goog-te-banner-frame {
        display: none !important;
      }
       
#home{
    color: #ffffff;
    width: 100%;
    position: absolute;
    top: 15vh;
    height: 84vh;
    border-bottom: 1px solid #ffffff ;
}
.homelogo{
    width: 35%;
    position: absolute;
    left: 60%;
    animation: myfirst 7s infinite;
}
.blackhomelogo{
    top: 10%;
    width: 35%;
    position: absolute;
    left: 60%;
    animation: myfirst 7s infinite;
    display: none;
}
@keyframes myfirst{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform:rotateY(360deg);
    }
}
.welcomeside{
    width: 50%;
    height: 98%;
}
.welcome_msg{
    position: absolute;
    top: 8%;
    left: 10%;
    font-size: 50px;
}
.introducing{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 40px; 
    overflow: hidden; 
    white-space: nowrap; 
    animation: typing 5s steps(40, end) infinite
}
@keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
.introdetaills{
    width: 32%;
    position: absolute;
    top: 42%;
    left: 10%;
    font-size: 28px;   
    line-height: 3pc; 
}
.myname{
    color: #fcc403;
    font-size: 40px;
    font-weight: 400;
    user-select: none;
    font-weight: 500;
} 
.fa-github{
    font-size:40px ;
    position: absolute;
    top: 85%;
    left: 10%;
    color: gray;
}
.fa-github:hover{
    color: #ffffff;
}
.fa-linkedin{
    font-size:40px ;
    position: absolute;
    top: 85%;
    left: 15%;
    color: gray;
}
.fa-linkedin:hover{
    color: #0072b1;
}
.cv{
    color: #080D10;
    font-weight: 700;
    text-decoration: none;
    font-size:19px ;
    padding: 10px;
    position: absolute;
    top: 84.5%;
    left: 20%;
    background-color: gray;
    border-radius: 50%;
}
.cv:hover{
    background-color: red;  
    color: white;
}
#aboutme{
    width: 100%;
    position: absolute;
    top: 100%;
    height: 84vh;
    border-bottom: 1px solid #ffffff ;
    color: #ffffff;

}
.abmtittle{
    position: absolute;
    left: 45%;
    width: 11%;
    color: #fcc403;
    padding: 10px ;
    border: 1px solid #fcc403;
    border-radius: 25px;
    
}
.whoamitittle{
    color: #fcc403;
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 35px; 
}
.aboutmetext{
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 25px; 
    line-height: 3pc;
}
.aboutmetext a{
    text-decoration: none;
    color: #fcc403;
}
.aboutmetext a:hover{
    text-decoration: underline;
    color: orange;
}
#skills{
    width: 100%;
    position: absolute;
    top: 184vh;
    height: 84vh;
    border-bottom: 1px solid #ffffff ;
}
.skilltitle{
    text-align: center;
    position: absolute;
    left: 45%;
    width: 10%;
    color: #fcc403;
    padding: 10px 30px;
    border: 1px solid #fcc403;
    border-radius: 25px;
}
.skillcontainer1{
    width: 30%;
    height: 65vh;
    border: 2px solid #fcc403;
    position: absolute;
    top: 20%;
    left: 1%;
    border-radius: 15px;
}
.skillcontainer2{
    width: 30%;
    height: 65vh;
    border: 2px solid #fcc403;
    position: absolute;
    top: 20%;
    left:35%;
    border-radius: 15px;
}
.skillcontainer3{
    width: 30%;
    height: 65vh;
    border: 2px solid #fcc403;
    position: absolute;
    top: 20%;
    left:69%;
    border-radius: 15px;
}
.prcntg{
    color: #ffffff;
    position: absolute;
    top: 3vh;
    right: 5%;
    border: 1px solid #ffffff;
    padding: 2px;
}
.html{
    width: 100%;
    height: 16vh;
    border-bottom: 1px solid #fcc403;

}
.fa-html5{
    color:#e34c26 ;
    font-size: 25px;

}
.htmltexts{
    font-size: 20px;
    position: absolute;
    top: 2vh;
    left: 2vh;
    color: #ffffff;
}
.html100{
    position: absolute;
    top: 9vh;
    left: 5%;
    width: 90%;
    height: 4vh;
    overflow: hidden;
    font-size: small;
    font-weight: 900;
    text-align: right;
    color: black;
    background-color: rgba(128, 128, 128, 0.33);
}
.htmlprcntg{
    position: absolute;
    left: -100%;
    transition: 0.5s;
   width: 100%;
   height: 4vh; 
   background-color: #fcc403;
}

.css{
    position: absolute;
    top: 16vh;
    width: 100%;
    height: 16vh;
    border-bottom: 1px solid #fcc403;

}
.fa-css3{
    color:#264De4 ;
    font-size: 25px;

}
.csstexts{
    font-size: 20px;
    position: absolute;
    top: 2vh;
    left: 2vh;
    color: #ffffff;
}
.css100{
    position: absolute;
    top: 9vh;
    left: 5%;
    width: 90%;
    height: 4vh;
    overflow: hidden;
    font-size: small;
    font-weight: 900;
    text-align: right;
    color: black;
    background-color: rgba(128, 128, 128, 0.33);
}
.cssprcntg{
    position: absolute;
    left: -100%;
    transition: 0.5s;
   width: 90%;
   height: 4vh; 
   background-color: #fcc403;
}

.js{
    position: absolute;
    top: 32vh;
    width: 100%;
    height: 16vh;
    border-bottom: 1px solid #fcc403;

}
.fa-js{
    color:#f0d84f ;
    font-size: 25px;

}
.jstexts{
    font-size: 20px;
    position: absolute;
    top: 2vh;
    left: 2vh;
    color: #ffffff;
}
.js100{
    position: absolute;
    top: 9vh;
    left: 5%;
    width: 90%;
    height: 4vh;
    overflow: hidden;
    font-size: small;
    font-weight: 900;
    text-align: right;
    color: black;
    background-color: rgba(128, 128, 128, 0.33);
}
.jsprcntg{
    position: absolute;
    left: -100%;
    transition: 0.5s;
   width: 70%;
   height: 4vh; 
   background-color: #fcc403;
}

.react{
    position: absolute;
    top: 48vh;
    width: 100%;
    height: 16vh;

}
.fa-react{
    color:#61dbfb ;
    font-size: 25px;

}
.reacttexts{
    font-size: 20px;
    position: absolute;
    top: 2vh;
    left: 2vh;
    color: #ffffff;
}
.react100{
    position: absolute;
    top: 9vh;
    left: 5%;
    width: 90%;
    height: 4vh;
    overflow: hidden;
    font-size: small;
    font-weight: 900;
    text-align: right;
    color: black;
    background-color: rgba(128, 128, 128, 0.33);
}
.reactprcntg{
    position: absolute;
    left: -100%;
    transition: 0.5s;
   width: 10%;
   height: 4vh; 
   background-color: #fcc403;
}

.photoshop{
    position: absolute;
    top: 32vh;
    width: 100%;
    height: 16vh;
    border-bottom: 1px solid #fcc403;

}
.pslogo{
width: 7%;
}
.photoshoptexts{
    font-size: 20px;
    position: absolute;
    top: 2vh;
    left: 2vh;
    color: #ffffff;
}
.photoshop100{
    position: absolute;
    top: 9vh;
    left: 5%;
    width: 90%;
    height: 4vh;
    overflow: hidden;
    font-size: small;
    font-weight: 900;
    text-align: right;
    color: black;
    background-color: rgba(128, 128, 128, 0.33);
}
.photoshopprcntg{
    position: absolute;
    left: -100%;
    transition: 0.5s;
   width: 50%;
   height: 4vh; 
   background-color: #fcc403;
}
.Office{
    position: absolute;
    top: 16vh;
    width: 100%;
    height: 16vh;
    border-bottom: 1px solid #fcc403;

}
.officelogo{
    width: 7%;
    }
.Officetexts{
    font-size: 20px;
    position: absolute;
    top: 2vh;
    left: 2vh;
    color: #ffffff;
}
.Office100{
    position: absolute;
    top: 9vh;
    left: 5%;
    width: 90%;
    height: 4vh;
    overflow: hidden;
    font-size: small;
    font-weight: 900;
    text-align: right;
    color: black;
    background-color: rgba(128, 128, 128, 0.33);
}
.Officeprcntg{
    position: absolute;
    left: -100%;
    transition: 0.5s;
   width: 90%;
   height: 4vh; 
   background-color: #fcc403;
}
.visual{
    width: 100%;
    height: 16vh;
    border-bottom: 1px solid #fcc403;

}
.visuallogo{
    width: 7%;
    }
.visualtexts{
    font-size: 20px;
    position: absolute;
    top: 2vh;
    left: 2vh;
    color: #ffffff;
}
.visual100{
    position: absolute;
    top: 9vh;
    left: 5%;
    width: 90%;
    height: 4vh;
    overflow: hidden;
    font-size: small;
    font-weight: 900;
    text-align: right;
    color: black;
    background-color: rgba(128, 128, 128, 0.33);
}
.visualprcntg{
    position: absolute;
    left: -100%;
    transition: 0.5s;
   width: 90%;
   height: 4vh; 
   background-color: #fcc403;
}
.sage{
    position: absolute;
    top: 48vh;
    width: 100%;
    height: 16vh;

}
.sagelogo{
    width: 7%;
    }
.sagetexts{
    font-size: 20px;
    position: absolute;
    top: 2vh;
    left: 2vh;
    color: #ffffff;
}
.sage100{
    position: absolute;
    top: 9vh;
    left: 5%;
    width: 90%;
    height: 4vh;
    overflow: hidden;
    font-size: small;
    font-weight: 900;
    text-align: right;
    color: black;
    background-color: rgba(128, 128, 128, 0.33);
}
.sageprcntg{
    position: absolute;
    left: -100%;
    transition: 0.5s;
   width: 40%;
   height: 4vh; 
   background-color: #fcc403;
}
.github{
    width: 100%;
    height: 16vh;
    border-bottom: 1px solid #fcc403;

}
#githublogo{
    font-size: 25px;
    position: relative;
    top: 0%;
    left: 0%;
    }
.githubtexts{
    font-size: 20px;
    position: absolute;
    top: 2vh;
    left: 2vh;
    color: #ffffff;
}
.github100{
    position: absolute;
    top: 9vh;
    left: 5%;
    width: 90%;
    height: 4vh;
    overflow: hidden;
    font-size: small;
    font-weight: 900;
    text-align: right;
    color: black;
    background-color: rgba(128, 128, 128, 0.33);
}
.githubprcntg{
    position: absolute;
    left: -100%;
    transition: 0.5s;
   width: 80%;
   height: 4vh; 
   background-color: #fcc403;
}
.smads{
    position: absolute;
    top: 16vh;
    width: 100%;
    height: 16vh;
    border-bottom: 1px solid #fcc403;

}
.smadslogo{
    width: 7%;
    }
.smadstexts{
    font-size: 20px;
    position: absolute;
    top: 2vh;
    left: 2vh;
    color: #ffffff;
}
.smads100{
    position: absolute;
    top: 9vh;
    left: 5%;
    width: 90%;
    height: 4vh;
    overflow: hidden;
    font-size: small;
    font-weight: 900;
    text-align: right;
    color: black;
    background-color: rgba(128, 128, 128, 0.33);
}
.smadsprcntg{
    position: absolute;
    left: -100%;
    transition: 0.5s;
   width: 60%;
   height: 4vh; 
   background-color: #fcc403;
}
#skills:hover .htmlprcntg{
    left: 0;
}
#skills:hover .cssprcntg{
    left: 0;
}
#skills:hover .jsprcntg{
    left: 0;
}
#skills:hover .reactprcntg{
    left: 0;
}
#skills:hover .photoshopprcntg{
    left: 0;
}
#skills:hover .visualprcntg{
    left: 0;
}
#skills:hover .Officeprcntg{
    left: 0;
}
#skills:hover .sageprcntg{
    left: 0;
}
#skills:hover .githubprcntg{
    left: 0;
}
#skills:hover .smadsprcntg{
    left: 0;
}
#myportfolio{
    width: 100%;
    position: absolute;
    top: 268vh;
    height: 100%;
}
.portfoliotitle{
    text-align: center;
    position: absolute;
    left: 45%;
    width: 10%;
    color: #fcc403;
    padding: 10px 30px;
    border: 1px solid #fcc403;
    border-radius: 25px;
}
#workimg{
    width:100%;
    height: 100%;
    border-radius: 20px;
    }
    .detaills{
        width: 100%;
        height: 100%;
        transition: 0.5s;
        background-color: rgb(8, 13, 16,1);
        position: absolute;
        top: -100%;
        color: #ffffff;

    }
    #work:hover  .detaills{
        top: 0;
    }
    .worktittle{
        text-align: center;
    }
    .worktext{
        font-size: 17px;
        line-height: 5vh;
        width: 80%;
       position: absolute;
       top: 20%;
       left: 10%;
    }
    .githubcode{
        text-decoration: none;
        color: #fcc403;
        border: 2px solid #fcc403;
        font-size: 15px;
        padding: 15px;
        border-radius: 10px;
        font-weight: 700;
        position: absolute;
        bottom: 5%;
        left: 20%;
    }
    .livecode{
        text-decoration: none;
        color: #fcc403;
        border: 2px solid #fcc403;
        font-size: 15px;
        padding: 15px;
        border-radius: 10px;
        font-weight: 700;
        position: absolute;
        bottom: 5%;
        left:60%;
    }
    #work a:hover{
background-color: #fcc403;
color: #080d10;
border: 2px solid #ffffff;

    }
.work1{
    width: 30%;
    height: 45vh;
    overflow: hidden;
    border: 2px dashed #fcc403;
    position: absolute;
    top: 20%;
    left: 1%;
    border-radius: 15px;  
    background-color: #080d10;
}
.work2{
    width: 30%;
    height: 45vh;
    overflow: hidden;
    border: 2px dashed #fcc403;
    position: absolute;
    top: 20%;
    left: 34%;
    border-radius: 15px;  
    background-color: #080d10;
}
.work3{
    width: 30%;
    height: 45vh;
    overflow: hidden;
    border: 2px dashed #fcc403;
    position: absolute;
    top: 20%;
    left: 67%;
    border-radius: 15px;  
    background-color: #080d10;
}
.work4{
    width: 30%;
    height: 45vh;
    overflow: hidden;
    border: 2px dashed #fcc403;
    position: absolute;
    top: 70%;
    left: 1%;
    border-radius: 15px;  
    background-color: #080d10;
}
.work5{
    width: 30%;
    height: 45vh;
    overflow: hidden;
    border: 2px dashed #fcc403;
    position: absolute;
    top: 70%;
    left: 34%;
    border-radius: 15px;  
    background-color: #080d10;
}
.work5 .livecode{
    left: 30%;
}
.work6{
    width: 30%;
    height: 45vh;
    overflow: hidden;
    border: 2px dashed #fcc403;
    position: absolute;
    top: 70%;
    left: 67%;
    border-radius: 15px;  
    background-color: #080d10;
}
#contactme{
    background-color: #080d10;
    width: 21%;
    bottom:0 ;
    right: 0;
    position: fixed;
    height: 8vh;
    border: 1px solid #ffffff ;
    border-bottom: none;
}

.fa-square-facebook{
position: absolute;
top:25%;
left: 5%;
    font-size: 30px;
    color:gray;
}
.fa-square-instagram{
position: absolute;
top:25%;
font-size: 30px;
    left: 21%;
    color:gray;
}
.fa-square-whatsapp{
position: absolute;
top:25%;
    font-size: 30px;
    left: 38%;
    color: gray;
}
.fa-square-twitter{
position: absolute;
top:25%;
    font-size: 30px;
    left: 55%;
    color:gray;
}
.fa-telegram{
position: absolute;
top:25%;
    font-size: 30px;
    left: 71%;
    color:gray;
}
.fa-envelope{
position: absolute;
top:25%;

    font-size: 30px;
    left: 88%;
    color:gray;
}
#contactme i:hover{
    color: #fcc403;
    cursor: pointer;
}
#requestwhatsapp{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.9);
    display: none;
}
.whatsappreqcontainer{
    width: 40%;
    height: 50%;
    position: absolute;
    left: 30%;
    top: 25%;
    background-color: #075e54;
    border-radius: 15px;
    border: 1px solid #ffffff;

}

.whatsappreqcontainer h2{
    color: black;
    text-align: center;
}
.scndp,.fstp{
    width: 80%;
    color: hsl(0, 0%, 100%,0.8);
    font-size: 14px;
    line-height: 1.5pc;
    margin-left: 10%;

}
.fstp{
    position: absolute;
    left: 5%;
  top: 20%; 
}

.scndp{
    position: absolute;
    left: 5%;
  top: 65%; 
}
.wrong{
    color: red;
    position: absolute;
    top: 53%;
    left: 40%;
display: none;
}
.whatsappreqcontainer input{
text-align: center;
width: 35%;
height: 10%;
border-radius: 8px;
border: 1px solid #ffffff;
background-color: transparent;
font-size: 20px;
letter-spacing: 7px;
color: #fcc403;
position: absolute;
left: 32%;
top: 45%; 
}
.whatsappreqcontainer ::placeholder{
    color: rgb(255, 255, 255,0.7);
    font-size: 15px;
    letter-spacing: normal;
}
.whatsappreqcontainer a{
    color: #fcc403;
}
#cancel{
width: 20%;
height: 13%;
font-size: 14px;
font-weight: 700;
position: absolute;
left: 25%;
bottom: 5%;
background-color: #075e54;
color: white;
cursor: pointer;
}
#verify{
  width: 20%;
  height: 13%;
  font-size: 14px;
  font-weight: 700; 
  position: absolute;
  left: 55%;
bottom: 5%; 
background-color: #0e3c36;
color: #fcc403;
border: 1px solid #ffffff;
cursor: pointer;

}
#verify:hover{
    background-color: #907820;
    color: white;  
}
.fa-check{
    font-size: 60px;
    position: absolute;
    top: 10%;
    left: 43%;
    color: greenyellow;
}
.verificationdone{
    display: none;
}
.verificationdone h3{
    color: white;
    position: absolute;
    top: 25%;
    left: 38%;
}
.verificationdone h1{
    color: white;
    position: absolute;
    top: 40%;
    left: 28%;
}
.verificationdone p{
    color: white;
    position: absolute;
    top: 60%;
    left: 25%;
}
#okdone{
    width: 20%;
    height: 13%;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    left: 40%;
    bottom: 5%;
    background-color: white;
    color: black;
    cursor: pointer;  
}
#menucheckbox{
    display: none;
   }
   .fa-bars{
    visibility: hidden;
   }
   .fa-xmark{
    display: none;
   }
@media(max-width:425px){
    .fa-bars{
visibility: visible;
    }
    #contactme{
width: 100%;
border-left: none;
border-right: none;
    }
    #home{
        top: 12%;
        height: 88%;
    }
    #aboutme{
        height: 100%;
        top: 100%;
    }
    #skills{
        height: 200%;
        top: 200%;  
    }
    #myportfolio{
        height: 270vh;
        top: 400%;  
    }
   .homelogo{
    width: 40%;
    left: 30%;
    top: 0%;
   }
   .blackhomelogo{
    width: 40%;
    left: 30%;
    top: 0%;
    top: 3%;
   }
   .welcomeside{
width: 100%;
   }
   .welcome_msg{
    top: 25%;
    font-size: 30px;
   }
   .introducing{
    font-size: 120%; 
    top: 35%;
   }
   .myname{
    font-size: 130%;
   }

   @keyframes typing {
    from { width: 0 }
    to { width: 92% }
  }
  .introdetaills{
    font-size: 20px;
    width: 90%;
  }
.fa-github{
    top:77% ;
}
.fa-linkedin{
    top:77% ; 
    left: 30%;
    
}
.cv{
    top:77% ; 
    left: 50%;
}
.abmtittle{
    font-size: 120%;
    width: 26%;
    left: 33%;
    top: 2%;
    padding: 15px ;
    text-align: center;
}
.whoamitittle{
    font-size: 150%;
    top: 15%;
}
.aboutmetext{
    top: 25%;
font-size: 100%;
line-height: 4.3vh;
}
.skilltitle{
    font-size: 120%;
    width: 26%;
    left: 33%;
    padding: 5px ;
    text-align: center;
}
.skillcontainer1{
    top: 5%;
    width: 97%;
}
.skillcontainer2{
    width: 100%;
    top: 41%;
    left: 1%;
    width: 97%;
}
.skillcontainer3{
    width: 100%;
    top: 77%;
    left: 1%;
    height: 32vh;
    width: 97%;
}
.portfoliotitle{
    font-size: 120%;
    width: 26%;
    left: 33%;
    padding: 5px ;
    text-align: center;
}
.work1{
    top: 10vh;
    width: 97%;
}
.work2{
    top: 60vh;
    left: 1%;
    width: 97%;
}
.work3{
    top: 110vh;
    left: 1%;
    width: 97%;
}
.work4{
    top: 160vh;
    left: 1%;
    width: 97%;
}
.work5{
    top: 210vh;
    left: 1%;
    width: 97%;
}

.whatsappreqcontainer{
    width: 100%;
    height: 75vh;
    top: 5%;
    left: 0;
    
}
.header{
    height: 10vh;
}
.img_logo{
    width: 10%;
    top: 18%;
}
.black-img_logo{
    width: 10%;
    top: 22%;
}
.text_logo{
left: 30%;
top: 0%;
}
.menu{
    width: 100%;
    height: 100%;
    left: -100%;
    transition: 0.3s;
    position: fixed;
    top: 10.1%;
    background-color: #080d10;
}
.menu a{
    width: 35%;
    display: block;
    margin-top: 10%;
    margin-left: 30%;
    border: 1px solid #fcc403;
    padding: 10px 10px;
    text-align: center;   
}
.menu a:hover{
background-color: #fcc403;
border:1px solid white;
color: #080d10;
}
#menucheckbox{
    display: initial;
    position: absolute;
    left: 7%;
    top: 20%; 
    width: 22px;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    user-select: none;
}
.fa-bars{
    display: initial;
    color: #fcc403;
font-size: 22px; 
   position: fixed;
    left: 8.3%;
    top: 3%;
}
.fa-xmark{
    color: #fcc403;
font-size: 22px; 
   position: fixed;
    left: 8.3%;
    top: 3%;
    display: none;
}
#darkmode{
    cursor: none;
}
}
